
  .hola {
    width: 100%;
    padding: 15px 10px 0px 10px;
  }

  .hola th {
    border-collapse: collapse;
    border-radius: 5px;
    background-color: #aad4f1;
    color: white;
    text-align: left;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
  }
  .hola td {
    border-collapse: collapse;
    border-radius: 5px;
    text-align: left;
    padding-top: 3px;
    padding-left: 8px;
    padding-bottom: 3px;
  }
  
  .hola tr {
    background-color: #f6f6f6;
  }

  .display-name {
    padding-left: 30px;
  }

  @media only screen and (max-width: 550px) {
	
    /* Force table to not be like tables anymore */
    .hola table, 
    .hola thead, 
    .hola tbody, 
    .hola td, 
    .hola tr { 
      display: block;
    }    

    .hola th {
      display: none;
    }
   
    /* Hide table headers (but not display: none;, for accessibility) */
    .hola thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
   
    .hola tr { /*border: 1px solid #ccc ;*/
      border: 2px solid #ccf3ff;
      border-radius: 7px;
      background-color: #e5fbffcc;
      padding-top: 3px; 
    }
   
    .hola td { 
      /* Behave  like a "row" */
      border: none;
      /*border-bottom: 1px solid #eee;*/ 
      position: relative;
      padding-left: 90px; 
      white-space: normal;
      text-align:left;
      background-color: inherit;
    }
   
    .hola td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
      text-align:left;
      font-weight: bold;
    }
   
    /*
    Label the data
    */
    .hola td:before {
      content: attr(data-title);
    }
  }

  .blankday {
    color: #3c7bd9;
    background: #dceaff;
    font-weight: bold;
  }

  .ico-ok {
    font-size: 20px;
    color: #3f51b5;
  }

  .ico-ok:hover {
    color: #3251ff;
    cursor: pointer;
  }

  .ico-cancel {
    display: none;
  }