<div>
    <h2 mat-dialog-title>AÑADIR FIESTA</h2>
    <mat-dialog-content class="content">
    <form [formGroup]="dateForm">
      <mat-form-field>
        <input matInput [matDatepicker]="dp3" formControlName="datePicked" placeholder="Seleccione fecha" required>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        <mat-error *ngIf="valDesc.invalid">{{getErrorDate()}}</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput type="string" placeholder="" formControlName="description" required>
        <mat-error *ngIf="valDesc.invalid">{{getErrorMessage()}}</mat-error>
        <mat-label><b> Descripción</b></mat-label>
      </mat-form-field>
      <br/>
      <mat-checkbox class="example-margin" [(checked)]="isHoliday" (change)="changeHoliday()">Vacaciones</mat-checkbox>
    </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="onCloseSave()" [disabled]="!dateForm.valid">Aceptar</button>
      <button mat-raised-button color="primary" (click)="onCloseExit()">Cancelar</button>
    </mat-dialog-actions>
  </div>