<div>
    <h2 mat-dialog-title>{{title}}</h2>
    <mat-dialog-content class="content">
      {{text}}<i class="material-icons icon">{{icon}}</i>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="onCloseSave()">Aceptar</button>
      <button mat-raised-button color="primary" (click)="onCloseExit()">Cancelar</button>
      <a *ngIf="!isDesktop" href="tel:+34958812835"><i [ngClass]="['material-icons btn-ico-call']" (click)="onCloseSave()">call</i></a>
    </mat-dialog-actions>
  </div>